 <!DOCTYPE html>
<html>
 <head>
     <title>Weather</title>
     <link rel="icon" href="/img/weather.png">
      <link rel="stylesheet" href="/css/styles.css">
     
 </head>   
 <body>
     
     <div class="main-content"> 
   {{>header}} 
   <p>Use this site To get your weather </p>
   <form>
       <input placeholder="Location ">
       <button>Search</button>
   </form>
   
   <div style="float: left; width: 50%">
<p id="message-1"></p>
<p id="message-2"></p>
<p id="message-3"></p>
<p id="message-4"></p>
<p id="message-5"></p>
</div>
<div style="float: right; width: 50%"></div>
<p id="message-10"></p>
<p id="message-6"></p>
<p id="message-7"></p>
<p id="message-8"></p>
<p id="message-9"></p>

</div>
</div>

     {{>footer}}
      <script src="/js/app.js"></script>
 </body>
</html>